@layer utilities {
  .intrude-1 {
    box-shadow:
      0 4px 2px -1px rgb(0 0 0 / 0.05),
      inset 0 1px 2px 1px rgb(255 255 255 / 0.4);

    .dark & {
      box-shadow:
        0 1px 2px -1px rgb(255 255 255 / 0.4),
        inset 0 1px 2px 1px rgb(0 0 0 / 0.4);
    }
  }

  .extrude-1 {
    box-shadow:
      0 1px 2px 1px rgb(0 0 0 / 0.05),
      inset 0 1px 2px -1px rgb(255 255 255 / 0.4);

    .dark & {
      box-shadow:
        0 1px 2px 1px rgb(0 0 0 / 0.4),
        inset 0 1px 2px -1px rgb(255 255 255 / 0.4);
    }
  }
}
